html {
    --answer: #2380b6;
    --background: #2b8bb5;
    --true: #205022;
    --wrong: #912a2a;
    --answer-background:#ffff;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.question{
   text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}
.answer-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    height: auto;
}

.answer{
    border-radius: 5px;
    boder:solid;
    background-color: var(--answer);
    height: 35px;
}

.hide{
    display:none;
}

.true{
    background-color: var(--true);
}
.wrong{
    background-color: var(--wrong);
}
.hide{
    display: none;
}
.center{
    justify-content: center;
}